  .dependency-graph-container {
    position: relative;
  }
  
  .ui-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
  
  .zoom-button {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  body::-webkit-scrollbar {
    width: 0px;
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
